@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif:regular);
/*  font-family: 'Bree Serif'; */
:root {
	--title-1: 2rem;
	--title-2: 1.5rem;
	--title-3: 1.25rem;
	--text-sm: 0.875rem;
}

body {
	font-family: 'Poppins', Geneva, Tahoma, sans-serif;
}
